*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#eef4ff;
font-family:Arial,sans-serif;
}

.app{
padding:50px;
max-width:1400px;
margin:auto;
}

h3{
color:#5b6cff;
margin-bottom:10px;
}

h1{
font-size:56px;
margin-bottom:12px;
}

p{
color:#666;
}

.cards{
margin-top:40px;
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(320px,1fr));
gap:24px;
}

.card{
background:white;
border-radius:24px;
padding:24px;
box-shadow:
0 10px 30px rgba(0,0,0,.08);
text-align:left;
}

.card h2{
margin:10px 0;
font-size:28px;
}

.card p{
margin-bottom:18px;
}

.card:hover{
transform:translateY(-6px);
transition:.3s;
}